@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

:root {
  --main: #0b0d17;
  --alt: #d0d6f9;
  --white: #ffffff;
  --template-glass-1: rgba(70, 70, 70, 0.2);
}

body {
  background-color: var(--main);
  background-image: url(../assets/home/background-home-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Barlow", sans-serif;
  color: var(--alt);
}

.destination-body {
  background-image: url(../assets/destination/background-destination-mobile.jpg);
  background-size: cover;
}

h1, h2, h3, h4, .subheading-1 {
  font-family: "Bellefair", sans-serif;
}

.container-fluid {
  padding-right: 0;
}

.row {
  margin: 0;
}

.navbar {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  padding: 20px 10px;
}

.offcanvas {
  background-color: rgba(105, 105, 105, 0.1);
  backdrop-filter: blur(80px);
  width: 75% !important;
}

.offcanvas-header {
  margin: .5rem;
}

.offcanvas-backdrop {
  background-color: transparent;
}

.navbar-brand {
  display: block;
  margin: 0;
  padding: 0;
  align-self: center;
  animation: rotating 2s linear infinite both;
}

@keyframes rotating{
  0%{
    transform:rotate(0deg)
              translate(5px)
              rotate(0deg);              
  }

  100%{
    transform:rotate(360deg)
              translate(5px)
              rotate(-360deg);
  }
}


.navbar-brand .logo{
  width: 40px;
  height: 40px;
}

.nav-item {
  margin: 0 0 20px 20px;
}

.nav-link {
  padding: 0;
  color: #fff;
  width: fit-content;
}

.nav-link.active {
  color: #fff !important;
  border-bottom: 1px solid var(--white);
}

.nav-link:hover {
  color: #fff;
}

.nav-link:focus {
  color: var(--alt);
}

.nav-link span {
  font-weight: bold;
  padding-right: .5rem;
}

.close-btn {
  background-color: transparent;
  border: none;
}

.title-container {
  margin: 0 auto 25px;
  width: 75%;
}

h5 {
  font-family: "Barlow Condensed";
  font-size: 1rem;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 5rem;
  padding: 10px;
  text-transform: uppercase;
  color: var(--white);
}

.main-p {
  font-size: 15px;
  font-family: "Barlow";
  text-align: center;
}

.explore-ctr {
  min-height: 220px;
  position: relative;
}

.explore__btn {
  font-family: "Bellefair";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  text-decoration: none;
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
 
  background-color: var(--white);
  border: none;
  border-radius: 50%;
  outline: 0px solid #4d4d4dcc;
  transition: all .2s;
}

.explore__btn:hover {
  outline-width: 50px;
  transition: outline .2s;
}

.explore__btn-text  {
  color: var(--main);
}


/* DESTINATION STYLES */

.destination-h5 { 
  font-size: 1rem;
  color: var(--white);
}

.destination-h5 span {
  opacity: .25;
  padding-right: .5rem;
}

.planet-container {
  width: 10.625rem;
  margin: 35px auto 15px;
}

.planet-container img {
  width: 100%; 
}

.nav {
  font-family: "Barlow Condensed";
  font-size: 14px;
  letter-spacing: 2.36px;
  text-transform: uppercase;
  gap: 25px;
}

.nav .nav-link {
  color: var(--alt);
}

.nav .nav-link.active {
  color: var(--white);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description h2 {
  font-size: 3.5rem;
  margin-top: 1.5rem;
  color: var(--white);
}

.description p {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  text-align: center;
  line-height: 25px;
  margin: auto 3rem;
}

.line {
  width: 85%;
  height: 2px;
  margin: 1.5rem auto;
  background-color: #383B4B;
}

.features {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 2rem;

  text-align: center;
}

.distance sub, .time sub {
  display: block;
  padding-bottom: 20px;
}

.subheading-2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2.36px;
  text-transform: uppercase;
}

.subheading-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--white);
} 


/* CREW STYLES */

.crew-body {
  background-image: url(../assets/crew/background-crew-mobile.jpg);
}

.crew-section {
  height: 482px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.photo-container {
  position: relative;
  width: 327px;
  height: 223px;
  margin: 8px auto 0;
}

.photo-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.photo-container::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%);
  width: 85%;
  height: 2px;
  background-color: #383B4B;
}

.description-crew h4 {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--white);
  opacity: 50%;
  margin: 50px auto .5rem;
}

.description-crew h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: var(--white);
}


/* WORKING ON CREW SLIDER */

.crew-main {
  position: relative;
}

.oval {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--white);
  opacity: 20%;
  -webkit-appearance: none;
  appearance: none;
  transition: .5s;
  z-index: 10;
}

.oval:checked {
  opacity: 100%;
}

.check-oval-1 {transform: translate(-330%, 20px);}
.check-oval-2 {transform: translate(-130%, 20px);}
.check-oval-3 {transform: translate(70%, 20px);}
.check-oval-4 {transform: translate(270%, 20px);}


/* FIRST CHECKED */

.check-oval-1:checked ~ #crew-1 {display: flex;}
.check-oval-1:checked ~ #crew-2 {display: none;}
.check-oval-1:checked ~ #crew-3 {display: none;}
.check-oval-1:checked ~ #crew-4 {display: none;}
 


/* SECOND CHECK */

.check-oval-2:checked ~ #crew-1 {display: none;}
.check-oval-2:checked ~ #crew-2 {display: flex;}
.check-oval-2:checked ~ #crew-3 {display: none;}
.check-oval-2:checked ~ #crew-4 {display: none;}
 


/* THIRD CHECK */

.check-oval-3:checked ~ #crew-1 {display: none;}
.check-oval-3:checked ~ #crew-2 {display: none;}
.check-oval-3:checked ~ #crew-3 {display: flex;}
.check-oval-3:checked ~ #crew-4 {display: none;} 


/* FOURTH CHECK */

.check-oval-4:checked ~ #crew-1 {display: none;}
.check-oval-4:checked ~ #crew-2 {display: none;}
.check-oval-4:checked ~ #crew-3 {display: none;}
.check-oval-4:checked ~ #crew-4 {display: flex;} 


@media (min-width: 576px) {
  body {
    background-image: url(../assets/home/background-home-tablet.jpg);
    background-position: center;
  }

  .navbar {
    padding: 0;
  }

  .navbar .container-fluid {
    align-items: flex-start;
    padding-left: 45px;
  }

  .navbar-brand {
    display: block;
  }

  .navbar-brand .logo {
    width: 48px;
    height: 48px;
  }

  .offcanvas {
    backdrop-filter: none;
  }

  .navbar-nav {
    background-color: var(--template-glass-1);
    backdrop-filter: blur(2px);
    padding: 0 35px;
  }

  .navbar-nav .nav-item {
    margin: auto 1rem;
  }
  
  .navbar-nav .nav-link {
    display: block;
    width: 100%;
    padding: 2.1rem 0 !important;
  }
  
  .nav-link {
    border-bottom: 3px solid transparent;
  }
  
  .nav-link.active {
    border-bottom: 3px solid var(--white) ;
  }
  
  .navbar-nav .nav-link span {
    display: none;
  }

  .nav-link:hover {
    border-bottom: 3px rgba(255, 255, 255, 0.5)  solid;
  }
  
  h5 {
    font-size: 1.25rem;
    letter-spacing: 3.38px;
  }

  h1 {
    font-size: 9.375rem;
  }

  .main-p {
    font-size: 1rem;
    line-height: 28px;
    margin: auto 15%;
  }

  .explore-ctr {
    min-height: 20rem;
  }

  .explore__btn {
    width: 242px;
    height: 242px;

    font-size: 32px;
    letter-spacing: 2px;
  }


  /* DESTINATION TABLET */

  .destination-body {
    background-image: url(../assets/destination/background-destination-tablet.jpg);
  }

  .destination-h5 {
    text-align: start;
    padding-left: 40px;
  }

  .planet-container {
    width: 18.75rem;
    margin: 50px auto 35px;
  }

  .description h2 {
    margin-top: 1.5rem;
    font-size: 5rem;
    text-align: center;
  }

  .description p {
    font-size: 1rem;
    text-align: center;
    margin: auto 4.5rem;
  }

  .features {
    flex-direction: row;
    justify-content: space-evenly;
  }


  /* CREW TABLET */

  .crew-body {
    background-image: url(../assets/crew/background-crew-tablet.jpg);
  }

  .crew-section {
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 70px;
  }

  .photo-container::after {
    display: none;
  }

  .description-crew h4 {
    font-size: 1.5rem;
  }

  .description-crew h3 {
    font-size: 2.5rem;
  }

  .description-crew p {
    line-height: 28px;
    margin: auto 3rem;
  }
  
  .photo-container {

    width: 433px;
    height: 502px;
  }

  .oval {
    top: 55%;
    width: 22px;
    height: 22px;
  }

}


@media (min-width: 768px) {
  .description p {
    margin: auto 25%;
  }

  .oval {
    width: 25px;
    height: 25px;
  }

  .check-oval-1 {transform: translate(-1430%, 20px);}
  .check-oval-2 {transform: translate(-1180%, 20px);}  
  .check-oval-3 {transform: translate(1120%, 20px);}
  .check-oval-4 {transform: translate(1370%, 20px);}

}

@media (min-width: 1000px) {
  .check-oval-1::after {
    content: "<";
    position: absolute;
    left: -100px;
    font-size: 50px;
    font-weight: bold;
    color: var(--white);
    opacity: 1 !important;
    animation: inOut linear 2s infinite both;
    
  }

  .check-oval-4::after {
    content: ">";
    position: absolute;
    left: 100px;
    font-size: 50px;
    font-weight: bold;
    color: var(--white);
    opacity: 1 !important;
    animation: outIn linear 2s infinite both;
  }

}
@keyframes inOut {
  0% {transform: translate(0px, -32px);}
  50% {transform: translate(-5px, -32px);}
  100% {transform: translate(0px, -32px);}
}
@keyframes outIn {
  0% {transform: translate(0px, -32px);}
  50% {transform: translate(5px, -32px);}
  100% {transform: translate(0px, -32px);}
}


@media (min-width: 1200px) {
  body {
    background-image: url(../assets/home/background-home-desktop.jpg);
  }

  .destination-body {
    background-image: url(../assets/destination/background-destination-desktop.jpg);
  }

  .navbar .container-fluid {
    margin-top: 1.8rem;
    padding-left: 55px;
    align-items: center;
  }

  .navbar-nav {
    justify-content: center;
    padding-right: 10%;
    width: 65%;
    max-width: 900px;
    background-color: var(--template-glass-1);
    backdrop-filter: blur(10px);
  }

  .navbar-nav::after {
    --width: 50%;
    content: "";
    position: absolute;
    top: 50%;
    left: calc(var(--width) * (-1) + 30px);
    width: var(--width);
    height: 2px;
    background-color: rgba(255, 255, 255, 0.25);
  }

  .navbar-nav .nav-link span {
    display: inline;
  }



  /* DESTINATION DESKTOP */

  .destination-h5 {
    font-size: 1.75rem;
    letter-spacing: 4.72px;
    padding-left: 10rem;
    margin: 5rem 0 4rem;
  }
  
  .destination-h5 span {
    padding-right: 1.5rem;
  }

  .destination-main {
    margin: auto 0;
  }

  .planet-container {
    width: 27.8125rem;
  }

  .description {
    align-items: flex-start;
    margin: 0;
    padding: 0;
    padding-right: 8rem ;
  }

  .description .nav-link {
    font-size: 1rem;
    letter-spacing: 2.7px;
    padding-bottom: 8px;
  }

  .description h2 {
    font-size: 6.25rem;
    margin: 2rem 0 1.5rem;
  }

  .description p {
    font-size: 1.125rem;
    line-height: 32px;
    text-align: justify;
    margin: 0 1rem 0 0;
  }

  .description .line {
    width: 100%;
    margin: 4rem 0 1rem;
  }

  .features {
    justify-content: flex-start;
    gap: 5rem;
    text-align: start;
  }

  .subheading-1 {
    font-size: 1.75rem;
  }


  /* CREW DESKTOP */

  .crew-body {
    background-image: url(../assets/crew/background-crew-desktop.jpg);;
  }

  .crew-main .destination-h5 {
    margin-bottom: 0;
  }

  .crew-section {
    flex-direction: row-reverse;
    justify-content: flex-start;
    text-align: start;
    gap: 0px;
    height: auto;
  }

  .photo-container {
    margin-top: -5rem;
    width: 100%;
    height: 482px;
  }

  .description-crew {
    margin-top: 2rem;
    padding-left: 10rem;
    padding-right: 0;
  }

  .description-crew h4 {
    font-size: 32px;
    margin: 0;
  }

  .description-crew h3 {
    font-size: 54px;
  }


  
  .check-oval-1 {transform: translate(-330%); top: 70%; left: 15rem;}
  .check-oval-2 {transform: translate(-130%); top: 70%; left: 15rem;}
  .check-oval-3 {transform: translate(70%); top: 70%; left: 15rem;}
  .check-oval-4 {transform: translate(270%); top: 70%; left: 15rem;}

  .check-oval-1::after {
    display: none;
  }

  .check-oval-4::after {
    display: none;
  }

}