@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

:root {
  --main: #0b0d17;
  --alt: #d0d6f9;
  --white: #ffffff;
  --template-glass-1: rgba(70, 70, 70, 0.2);
}

body {
  background-color: var(--main);
  background-image: url(../assets/home/background-home-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Barlow", sans-serif;
  color: var(--alt);
}

.destination-body {
  background-image: url(../assets/destination/background-destination-mobile.jpg);
  background-size: cover;
}

h1, h2, h3, h4, .subheading-1 {
  font-family: "Bellefair", sans-serif;
}

header {
  height: 100vh;
}

.container-fluid {
  padding-right: 0;
}

.navbar {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  padding: 20px 10px;
}

.offcanvas {
  background-color: rgba(105, 105, 105, 0.1);
  backdrop-filter: blur(80px);
  width: 75% !important;
}

.offcanvas-header {
  margin: .5rem;
}

.offcanvas-backdrop {
  background-color: transparent;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  align-self: center;
}

.navbar-brand .logo{
  width: 40px;
  height: 40px;
}

.nav-item {
  margin: 0 0 20px 20px;
}

.nav-link {
  padding: 0;
  color: #fff;
  width: fit-content;
}

.nav-link.active {
  color: #fff !important;
  border-bottom: 1px solid var(--white);
}

.nav-link:hover {
  color: #fff;
}

.nav-link:focus {
  color: var(--alt);
}

.nav-link span {
  font-weight: bold;
  padding-right: .5rem;
}

.close-btn {
  background-color: transparent;
  border: none;
}

.title-container {
  margin: 0 auto 25px;
  width: 75%;
}

h5 {
  font-family: "Barlow Condensed";
  font-size: 1rem;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 5rem;
  padding: 10px;
  text-transform: uppercase;
  color: var(--white);
}

.main-p {
  font-size: 15px;
  font-family: "Barlow";
  text-align: center;
}

.explore-ctr {
  min-height: 220px;
}

.explore__btn {
  font-family: "Bellefair";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  text-decoration: none;
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
 
  background-color: var(--white);
  border: none;
  border-radius: 50%;
  outline: 0px solid #4d4d4dcc;
  transition: all .2s;
}

.explore__btn:hover {
  outline-width: 50px;
  transition: outline .2s;
}

.explore__btn-text  {
  color: var(--main);
}


/* DESTINATION STYLES */

.destination-h5 { 
  font-size: 1rem;
  color: var(--white);
}

.destination-h5 span {
  opacity: .25;
}

.planet-container {
  width: 10.625rem;
  height: 10.625rem;
  margin: 35px auto 15px;
}

.planet-container img {
  width: 100%; 
}

.nav {
  font-family: "Barlow Condensed";
  font-size: 14px;
  letter-spacing: 2.36px;
  text-transform: uppercase;
}

.nav .nav-link {
  color: var(--alt);
}

.nav .nav-link.active {
  color: var(--white);
}

h2 {
  font-size: 3.5rem;
  color: var(--white);
}

.description p {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 25px;
}

.line {
  width: 85%;
  height: 2px;
  background-color: #383B4B;
}

.distance sub, .time sub {
  display: block;
  padding-bottom: 26px;
}

.subheading-2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2.36px;
  text-transform: uppercase;
}

.subheading-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--white);
} 

@media (min-width: 576px) {
  body {
    background-image: url(../assets/home/background-home-tablet.jpg);
    background-position: center;
  }

  .navbar {
    padding: 0;
  }

  .navbar .container-fluid {
    align-items: flex-start;
    padding-left: 45px;
  }

  .navbar-brand {
    display: block;
  }

  .navbar-brand .logo {
    width: 48px;
    height: 48px;
  }

  .offcanvas {
    backdrop-filter: none;
  }

  .navbar-nav {
    background-color: var(--template-glass-1);
    backdrop-filter: blur(2px);
    padding: 0 35px;
  }

  .navbar-nav .nav-item {
    margin: auto 1rem;
  }
  
  .navbar-nav .nav-link {
    display: block;
    width: 100%;
    padding: 2.1rem 0 !important;
    border-bottom: 1px solid transparent ;
  }

  .navbar-nav .nav-link.active {
    border-bottom: 1px solid var(--white) ;
  }
  
  .navbar-nav .nav-link span {
    display: none;
  }

  .navbar-nav .nav-link:hover {
    border-bottom: 1px rgba(255, 255, 255, 0.5)  solid;
  }
  
  h5 {
    font-size: 1.25rem;
    letter-spacing: 3.38px;
  }

  h1 {
    font-size: 9.375rem;
  }

  .main-p {
    font-size: 1rem;
    line-height: 28px;
    margin: auto 15%;
  }

  .explore-ctr {
    min-height: 20rem;
  }

  .explore__btn {
    width: 242px;
    height: 242px;

    font-size: 32px;
    letter-spacing: 2px;
  }

}


@media (min-width: 1200px) {
  body {
    background-image: url(../assets/home/background-home-desktop.jpg);
  }

  .navbar .container-fluid {
    margin-top: 1.8rem;
    padding-left: 55px;
    align-items: center;
  }

  .navbar-nav {
    justify-content: center;
    padding-right: 10%;
    width: 65%;
    max-width: 900px;
    background-color: var(--template-glass-1);
    backdrop-filter: blur(10px);
  }

  .navbar-nav::after {
    --width: 50%;
    content: "";
    position: absolute;
    top: 50%;
    left: calc(var(--width) * (-1) + 30px);
    width: var(--width);
    height: 2px;
    background-color: rgba(255, 255, 255, 0.25);
  }

  .navbar-nav .nav-link span {
    display: inline;
  }

}