body {
  background-color: $main;
  background-image: url(../assets/home/background-home-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Barlow", sans-serif;
  color: $alt;
}

.body--destination {
  background-image: url(../assets/destination/background-destination-mobile.jpg);
  background-size: cover;
}

.body--crew {
  background-image: url(../assets/crew/background-crew-mobile.jpg);
}

.body--tech {
  background-image: url(../assets/technology/background-technology-mobile.jpg);
}

@media (min-width: 576px) {
  body {
    background-image: url(../assets/home/background-home-tablet.jpg);
    background-position: center;
  }

  .body--destination {
    background-image: url(../assets/destination/background-destination-tablet.jpg);
  }

  .body--crew {
    background-image: url(../assets/crew/background-crew-tablet.jpg);
  }

  .body--tech {
    background-image: url(../assets/technology/background-technology-tablet.jpg);
  }
}

@media (min-width: 1200px) {
  body {
    background-image: url(../assets/home/background-home-desktop.jpg);
  }

  .body--destination {
    background-image: url(../assets/destination/background-destination-desktop.jpg);
  }

  .body--crew {
    background-image: url(../assets/crew/background-crew-desktop.jpg);
  }

  .body--tech {
    background-image: url(../assets/technology/background-technology-desktop.jpg);
  }
}


h1 {
  font-family: "Bellefair", sans-serif;
  font-size: 5rem;
  padding: 10px;
  text-transform: uppercase;
  color: $white;
}

h2,
h3,
h4,
.subheading-1 {
  font-family: "Bellefair", sans-serif;
}

h5 {
  font-family: "Barlow Condensed";
  font-size: 1rem;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  text-align: center;
}

.container-fluid {
  padding-right: 0;
}

.row {
  margin: 0;
}

a {
  text-decoration: none;
  color: $white;
}