// Home page rounded button "EXPLORE". With shadow around hover effect. 

.explore__container {
  @include flex-row(center, center);  //Center circle in the page

  min-height: 220px;
  position: relative;
  &-btn {
    font-family: $font-1;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.25px;

    @include flex-row(center, center); //Center text in circle
    width: 150px;
    height: 150px;

    background-color: $white;
    border: none;
    border-radius: 50%;
    outline: 0px solid #4d4d4dcc; //Outline defined but without size
    transition: all 0.2s;
    &:hover {
      outline-width: 50px; //On hover, outline get shape
      transition: outline 0.2s;
    }
  }
  &-text {
    color: $main;
  }
}

@include media(big-phone-up) {
  .explore__container {
    min-height: 20rem;
    &-btn {
      width: 242px;
      height: 242px;
      font-size: 32px;
      letter-spacing: 2px;
    }
  }
}

// XXXXXXXX

//Crew page rounded slider buttons.

.oval {
  @include reset-radio(); //Radio inputs are being used for slider effect. So, we reset his default style.
  @include absolute(50%, 50%, $white); //Place the buttons in the center of the screen.
  @include size(18px, 18px);
  border-radius: 50%;
  opacity: 20%;
  &:hover {
    opacity: 60%;
    cursor: pointer;
  }
  &:checked {
    opacity: 100%;
  }
}

  //Place each button in his position
.oval {
  &.sb-1 {
    transform: translate(-330%, 20px);
  }
  &.sb-2 {
    transform: translate(-130%, 20px);
  }
  &.sb-3 {
    transform: translate(70%, 20px);
  }
  &.sb-4 {
    transform: translate(270%, 20px);
  }
}

  //Media queries are used to change the position of buttons as the screen increases in size

@include media(big-phone-up) {
  .oval {
    top: 55%;
    @include size(22px, 22px);
  }
}

@include media(tablet-up) {
  .oval {
    @include size(25px, 25px);
  }

  .oval {
    &.sb-1 {
      top: calc(55%);
      left: 20%;
    }
    &.sb-2 {
      top: 55%;
      left: calc(20% + 20px);
    }
    &.sb-3 {
      top: 55%;
      left: calc(80% - 20px);
    }
    &.sb-4 {
      top: 55%;
      left: 80%;
    }
  }
}

//small arrows on the sides to help the user to interact with the slider
@include media-minmax(1000px, 1200px) {
  .oval {
    &.sb-1::after {
      content: "<";
      position: absolute;
      left: -100px;
      font-size: 50px;
      font-weight: bold;
      color: $white;
      opacity: 1 !important;
      animation: inOut linear 2s infinite both;
    }
    &.sb-4::after {
      content: ">";
      position: absolute;
      left: 100px;
      font-size: 50px;
      font-weight: bold;
      color: $white;
      opacity: 1 !important;
      animation: outIn linear 2s infinite both;
    }
  }

  //Animations for the arrows of above
  @keyframes inOut {
    0% {
      transform: translate(0px, -32px);
    }
    50% {
      transform: translate(-5px, -32px);
    }
    100% {
      transform: translate(0px, -32px);
    }
  }
  @keyframes outIn {
    0% {
      transform: translate(0px, -32px);
    }
    50% {
      transform: translate(5px, -32px);
    }
    100% {
      transform: translate(0px, -32px);
    }
  }
}

@include media(desktop-up) {
  .oval.sb-1 {
    transform: translate(-330%);
    top: 70%;
    left: 15rem;
  }
  .oval.sb-2 {
    transform: translate(-130%);
    top: 70%;
    left: 15rem;
  }
  .oval.sb-3 {
    transform: translate(70%);
    top: 70%;
    left: 15rem;
  }
  .oval.sb-4 {
    transform: translate(270%);
    top: 70%;
    left: 15rem;
  }
}

// XXXXXXXX

//Buttons used in destination pages for the slider

.rectangle-btn {
  @include reset-radio(); //Radio inputs are being used for slider effect. So, we reset his default style.
  @include absolute(14.5rem, 48%); //Place the buttons in the center of the screen.
  @include size(2.8rem, 0.25rem);
  background-color: rgba($color: $white, $alpha: 0);
  border-radius: 2px;
  color: $alt;
  cursor: pointer;
  transition: 0.2s;
  &:checked {
    background-color: rgba($color: $white, $alpha: 1); //Paint the button corresponding to the current page
    color: $white;
  }
  &:hover {
    background-color: rgba($color: $white, $alpha: 0.5); //Paint the button on hover  
  }

  //Media queries are used to change the position of buttons as the screen increases in size
  @include media(big-phone-up) {
    top: 24rem;
    @include size(3.2rem, 0.3rem);
  }
  @include media(tablet-up) {
    @include size(3.4rem, 0.33rem);
  }
  @include media(desktop-up) {
    top: 6rem;
    left: 67%;
    @include size(4.2rem, 0.4rem);
  }
}

// After pseudo-elements are used for the name of the buttons
.rectangle-btn {
  &.rect--1 {
    transform: translate(-330%, 20px);
    &::after {
      content: "MOON";
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
      height: 25px; //height useful for avoid a whitespace between after content and the rectangle.
      font: {
        family: "Barlow Condensed";
        size: 14px;
        weight: normal;
      }
      letter-spacing: 2.36px;
      @include media(big-phone-up) {
        font-size: 1.125rem;
        top: -27px;
      }
      @include media(tablet-up) {
        font-size: 1.25rem;
        top: -28px;
      }
      @include media(desktop-up) {
        font-size: 1.3rem;
        top: -30px;
      }
    }
  }

  &.rect--2 {
    transform: translate(-130%, 20px);
    &::after {
      @extend .rect--1::after;
      content: "MARS";
    }
  }

  &.rect--3 {
    transform: translate(70%, 20px);
    &::after {
      @extend .rect--1::after;
      content: "EUROPA";
    }
  }

  &.rect--4 {
    transform: translate(270%, 20px);
    &::after {
      @extend .rect--1::after;
      content: "TITAN";
    }
  }
}

// XXXXXXXX

//Buttons of technology pages, rounded with numbers inside.

.rounded-ghost-btn {
  @include reset-radio(rgba($color: $white, $alpha: 0)); //Radio inputs are being used for slider effect. So, we reset his default style.
  @include absolute(21.5rem, 50%); //Place the buttons in the center of the screen.
  @include size(40px, 40px);
  transition: 0.2s;
  border: 1px solid rgba($color: $white, $alpha: 0.5) {
    radius: 50%;
  }
  cursor: pointer;
  color: $white;
  &:hover {
    border-color: rgba($color: $white, $alpha: 1);
  }
  &:checked {
    background-color: rgba($color: $white, $alpha: 1);
    color: $main;
  }

  //Media queries are used to change the position of buttons as the screen increases in size
  @include media(420px) {
    top: 25rem;
  }
  @include media(big-phone-up) {
    top: 29.5rem;
  }
  @include media(700px) {
    top: 32rem;
  }
  @include media(desktop-up) {
    top: 25rem;
  }

  // After pseudo-elements are used to place the number inside the circle. Each circle sets its own position with media-queries in its selectors.
  &.tb--1 {
    transform: translate(-230%);
    &::after {
      content: "1";
      @include absolute(50%, 50%);
      transform: translate(-50%, -50%);
      font: {
        family: $font-1;
        size: 14px;
      }
      @include media(desktop-up) {
        font-size: 32px;
      }
    }
    @include media(desktop-up) {
      width: 80px;
      height: 80px;
      top: 280px;
      transform: translate(-450px, 0%);
    }
    @include media(1250px) {
      transform: translate(-470px, 20px);
    }
    @include media(1300px) {
      transform: translate(-490px, 20px);
    }
    @include media(1350px) {
      transform: translate(-500px, 40px);
    }
  }

  &.tb--2 {
    transform: translate(-50%);
    &::after {
      @extend .tb--1::after;
      content: "2";
    }
    @include media(desktop-up) {
      width: 80px;
      height: 80px;
      top: 280px;
      transform: translate(-450px, 140%);
    }
    @include media(1250px) {
      transform: translate(-470px, 130px);
    }
    @include media(1300px) {
      transform: translate(-490px, 130px);
    }
    @include media(1350px) {
      transform: translate(-500px, 150px);
    }
  }
  &.tb--3 {
    transform: translate(130%);
    &::after {
      @extend .tb--1::after;
      content: "3";
    }
    @include media(desktop-up) {
      width: 80px;
      height: 80px;
      top: 280px;
      transform: translate(-450px, 280%);
    }
    @include media(1250px) {
      transform: translate(-470px, 240px);
    }
    @include media(1300px) {
      transform: translate(-490px, 240px);
    }
    @include media(1350px) {
      transform: translate(-500px, 260px);
    }
  }
}

// XXXXXXXX

//CTA button used in destination page, below the title.

.description-cta {
  @include flex-row(center, center);
  width: 10rem;
  min-height: 2.8rem;
  margin: 5px auto 20px;

  background: linear-gradient(145deg, #0a0c15, #0c0e19);
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 8px hsl(230, 30%, 15%), -4px -4px 8px hsl(230, 30%, 12%),
    15px 15px 30px hsl(230, 14%, 14%), -15px -15px 30px hsl(230, 18%, 10%);

  border: 1px solid rgba($color: #fff, $alpha: 0.8);
  border-radius: 0.5rem;
  transition: 0.5s;
  &:hover {
    box-shadow: 0px 0px 40px 8px hsl(230, 25%, 15%);
  }
  &--anchor {
    @include flex-row(center, center);
    width: 100%;
    height: 2.8rem;
    font: {
      family: "Barlow Condensed";
      size: 1.2rem;
      weight: bold;
    }
    letter-spacing: 5px;
    text-transform: uppercase;
    border-radius: 0.5rem;
    color: #e1e1e1;
    transition: 0.5s;
    &:hover {
      color: #fff;
      background: linear-gradient(145deg, hsl(230, 33%, 5%), hsl(231, 35%, 7%));
    }
  }
}
