/* General styles, titles, subtitles and details of all pages */

/* Styles of first heading present in every page, who guides to users in the site */
.step-name {
  font-family: "Barlow Condensed";
  font-size: 1rem;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  &-span {
    opacity: 0.25;
    padding-right: 0.5rem;
  }
  &--tech {
    margin-bottom: 2rem;
  }
  &-arrow--right {
    margin-left: 10%;
  }
  &-arrow--left {
    margin-right: 10%;
  }

  @include media(big-phone-up) {
    letter-spacing: 3.5px;
    text-align: center;
    padding-left: 40px;
  }

  @include media(tablet-up) {
    text-align: start;
    &-arrow--right,
    &-arrow--left {
      display: none;
    }
  }

  @include media(desktop-up) {
    font-size: 1.75rem;
    letter-spacing: 4.72px;
    padding-left: 10rem;
    margin: 5rem 0 4rem;
    &-span {
      padding-right: 1.5rem;
    }
    &--tech {
      margin-bottom: 1px;
    }
  }
}

/* Home styles */
.title__container {
  @include flex-col($align: center);
  margin: 0 auto 25px;
  width: 75%;
  &-sup {
    font-family: "Barlow Condensed";
    font-size: 1rem;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-align: center;
  }
  &-p {
    font-size: 15px;
    font-family: "Barlow";
    text-align: center;
  }

  @include media(big-phone-up) {
    &-sup {
      font-size: 1.25rem;
      letter-spacing: 3.38px;
    }
    &-title {
      font-size: 9.375rem;
    }
    &-p {
      font-size: 1rem;
      line-height: 28px;
      margin: auto 15%;
    }
  }
}

/* Destination styles */

.main--destination {
  position: relative;
}

.planet__container {
  width: 10.625rem;
  margin: 35px auto 15px;
  img {
    width: 100%;
  }

  @include media(big-phone-up) {
    width: 18.75rem;
    margin: 50px auto 35px;
  }

  @include media(desktop-up) {
    width: 27.8125rem;
  }
}

.line {
  width: 85%;
  height: 2px;
  margin: 1.5rem auto;
  background-color: #383b4b;
  @include media(desktop-up) {
    width: 100%;
    margin: 2rem 0 1rem;
  }
}

.features {
  @include flex-row($justify: center);
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  text-align: center;

  &-title {
    font: {
      family: "Barlow Condensed", sans-serif;
      size: 14px;
    }
    letter-spacing: 2.36px;
    text-transform: uppercase;
  }
  &-data {
    font: {
      family: "Bellefair";
      size: 1.5rem;
      weight: normal;
    }
    text-transform: uppercase;
    color: $white;
  }
  @include media(big-phone-up) {
    justify-content: space-evenly;
  }
  @include media(desktop-up) {
    justify-content: flex-start;
    gap: 5rem;
    text-align: start;
    &-data {
      font-size: 1.75rem;
    }
  }
}

/* Crew styles */

.main--crew {
  position: relative;
}

.step-name--crew {
  @include media(desktop-up) {
    margin-bottom: 0;
  }
}

.crew__section {
  height: 482px;
  text-align: center;
  @include flex-col;
  @include media(big-phone-up) {
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 70px;
  }
  @include media(desktop-up) {
    flex-direction: row-reverse;
    text-align: start;
    gap: 0px;
    height: auto;
  }
}

.photo__container {
  position: relative;
  width: 327px;
  height: 223px;
  margin: 8px auto 0;
  &-img {
    object-fit: contain;
    @include size(100%, 100%);
  }
  /* After creates a line under photo__container */
  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translate(-50%);
    @include size(85%, 2px);
    background-color: #383b4b;
  }
  @include media(big-phone-up) {
    width: 433px;
    height: 502px;
    &::after {
      display: none;
    }
  }
  @include media(desktop-up) {
    margin-top: -5rem;
    width: 100%;
    height: 482px;
  }
}

/* TECH STYLES */

.tech__section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 7.5rem;

  @include media(desktop-up) {
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 0;
    padding-left: 17rem;
    padding-bottom: 5rem;
  }
}

.picture--tech {
  &-source {
    display: block;
  }
  &-img {
    width: 100%;
    max-width: 800px;
    max-height: 350px;
  }
  @include media(desktop-up) {
    &-img {
      max-width: 515px;
      max-height: 527px;
      object-fit: cover;
      padding-right: 15px;
      margin-top: 0;
    }
  }
}

/* CONTACT */
.main--contact {
  padding: 1rem 4rem;
  @include flex-col(initial, initial); 
  gap: 30px;
  @include media(big-tablet-up) {
    display: grid;
    grid-template: 
    "form vector" 420px
    "map map" 700px / 1fr 1fr;
    gap: 110px 0px;
  }
}

.form {
  grid-area: form;
  text-align: justify;
  color: $white;
  max-width: 500px;
  
  @include media(tablet-up) {
    max-width: 95%;
  }

  &__title {
    font-family: "Barlow Condensed";
    text-transform: uppercase;
    font-size: 2rem;
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: 1rem;
  }

  &__container {
    display: grid;
    grid-template:
      "input-1" 48px
      "input-2" 48px
      "text-area" 96px
      "submit" 48px / 1fr;
    gap: 1.2rem;
    margin: 2rem auto 0;
    @include media-minmax(768px, 900px) {
      grid-template:
        "input-1 submit" 48px
        "input-2 submit" 48px
        "text-area submit" 96px / 3fr 1fr;
    }
  }

  &__input {
    width: 100%;
    min-height: 3rem;
    background-color: rgba($color: #121212, $alpha: 0.5);
    border: 1px solid rgba($color: #f2f2f2, $alpha: 0.1);
    border-radius: 0.5rem;
    padding: 0.8rem;

    color: $white;
    font-size: 1rem;
    transition: 0.2s;

    &--name {
      grid-area: input-1;
    }

    &--email {
      grid-area: input-2;
    }

    &--message {
      grid-area: text-area;
      resize: none;
    }

    &:focus {
      outline: none;
      border-color: rgba($color: #f2f2f2, $alpha: 0.7);
    }
    &::placeholder {
      color: rgba($color: #f2f2f2, $alpha: 0.9);
    }
  }

  &__cta {
    grid-area: submit;
    align-self: start;
    width: fit-content;
    padding: .5rem;
    
    min-height: 3rem;
    background-color: rgba($color: #fff, $alpha: 0.95);
    border-radius: 0.5rem;
    border: 1px solid rgba($color: #fff, $alpha: 0.95);
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: $black;
    transition: .2s;
    &:hover {
      background-color: rgba($color: #333, $alpha: .5);
      color: rgba($color: #fff, $alpha: 1);
    }
    &:focus {
      outline: none;
      border-color: rgba($color: #121212, $alpha: 0.7);
    }
    @include media-minmax(768px, 900px) {
      width: fit-content;
      height: 35%;
      justify-self: flex-end;
      align-self: center;
    }
  }
}

.rocket__container {
  grid-area: vector;
  @include flex-row(center, center);
  &-img {
    display: none;
    animation: flighting 1.5s  linear infinite alternate both;
    @include media(big-tablet-up) {
      display: block;
      width: 90%;
      height: 90%;
    }
  }
}

@keyframes flighting {
  from {
    translate: -10px 10px;
  }
} 

.contact {
  grid-area: map;
  color: $white;
  font-size: 20px;
  font-family: "Bellefair";

  @include media(big-tablet-up) {
    @include flex-col(center, center);
  }

  &__title {
    @extend .form__title;
  }

  &__frame {
    width: 400px;
    height: 300px;
    aspect-ratio: 4/3;
    max-width: 100%;
    margin: 20px 0 0;
    @include media(big-phone-up) {
      width: 100%;
      height: auto;
      max-width: 800px;
      max-height: 450px;
    }
  }

  &__address-anchor {
    transition: 0.2s;
    &:hover {
      color: #666;
    }
  }
  &__phone {
    display: block;
    width: max-content;
    padding-bottom: 0.8rem;
    transition: 0.2s;
    .bi {
      padding-right: 1rem;
    }
    &:hover {
      color: #666;
    }
  }
}

.footer {
  min-height: 5rem;
  padding: 1rem;
  text-align: center;
  &__anchor {
    font: {
      size: 3rem;
      weight: bold;
    }
    text-transform: uppercase;
    transition: 0.2s;
    &:hover {
      color: #666;
    }
  }
}
