//Clicking a slider button checks a radio input and the :checked pseudo-class is activated. 
//Each button has an associated radio input and an associated section.When :checked is on, 
//the corresponding section is shown with flex and the other sections are hidden.

/* --- FIRST CHECKED --- */

.oval.sb-1:checked ~ #crew,
.rect--1:checked ~ #destination,
.tb--1:checked ~ #tech {
  &-1 {
    display: flex;
  }
  &-2 {
    display: none;
  }
  &-3 {
    display: none;
  }
  &-4 {
    display: none;
  }
}

/* --- SECOND CHECK --- */

.oval.sb-2:checked ~ #crew,
.rect--2:checked ~ #destination,
.tb--2:checked ~ #tech {
  &-1 {
    display: none;
  }
  &-2 {
    display: flex;
  }
  &-3 {
    display: none;
  }
  &-4 {
    display: none;
  }
}

/* --- THIRD CHECK --- */

.oval.sb-3:checked ~ #crew,
.rect--3:checked ~ #destination,
.tb--3:checked ~ #tech {
  &-1 {
    display: none;
  }
  &-2 {
    display: none;
  }
  &-3 {
    display: flex;
  }
  &-4 {
    display: none;
  }
}

/* --- FOURTH CHECK --- */

.oval.sb-4:checked ~ #crew,
.rect--4:checked ~ #destination {
  &-1 {
    display: none;
  }
  &-2 {
    display: none;
  }
  &-3 {
    display: none;
  }
  &-4 {
    display: flex;
  }
}
